<!-- <div class="main" >
    <div class="container mt-5" >
        <form class="row mt-2" [formGroup]="Form">
            <div class="col-md-6">
                <div class="col-md-12 mt-4 inputProperty">
                    <input type="text" class="form-control " formControlName="locationId" placeholder="Location ID" >
                </div>
                <div class="col-md-12 mt-4 inputProperty">
                    <input type="text" class="form-control" formControlName="locationDisplayName"
                        placeholder="Location Display Name">
                </div>
                <h6 class="mt-5">Address Details</h6>
                <div class="col-md-12 inputProperty mt-3">
                    <input type="text" class="form-control" name="searchAddress" placeholder="Search Address...">
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5 inputProperty">
                        <input type="text" class="form-control" formControlName="streetAddress" placeholder="Street">
                    </div>
                    <div class="col-md-6 mt-5 inputProperty">
                        <input type="text" class="form-control" formControlName="cityAddress" placeholder="City">
                    </div>
                    <div class="col-md-6 mt-5 inputProperty">
                        <input type="text" class="form-control" formControlName="stateAddress" placeholder="State">
                    </div>
                    <div class="col-md-6 mt-5 inputProperty">
                        <input type="text" class="form-control" formControlName="countryAddress" placeholder="Country">
                    </div>
                </div>
                <div class="col-md-12 mt-5 inputProperty">
                    <input type="text" class="form-control" formControlName="postalCodeAddress"
                        placeholder="Postal Code">
                </div>
                <div class="row">
                    <div class="col-md-4 mt-5 ">
                        <button type="submit" type="reset" class="btn cancleBtn mr-5 ">Cancel</button>
                    </div>
                    <div class="col-md-3 mt-5">
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 mt-4 inputProperty">
                    <input type="text" class="form-control" formControlName="locatinContactTitle"
                        placeholder="Location Contact Title">
                </div>
                <div class="col-md-12 mt-4 inputProperty">
                    <input type="text" class="form-control" formControlName="locationContactName"
                        placeholder="Location Contact Name">
                </div>
                <div class="input-group  mt-4 inputProperty ">
                    <select class="dropdown-item form-select " style="border: black 1px solid;"
                        formControlName="country_code">
                        <option selected value="" disabled>+1 (USA)</option>
                        <option value="+86(China)">China</option>
                        <option value="+20(Egypt)">Egypt</option>
                        <option value="+33(France)">France</option>
                        <option value="+49(Germany)">Germany</option>
                        <option value="+91(India)">India</option>
                        <option value="+92(Pakistan)">Pakistan</option>
                        <option value="+44(UK)">UK</option>
                        <option value="+1(USA)">USA</option>
                    </select>
                    <input type="number" class="form-control" aria-label="Text input with dropdown button"
                        formControlName="locationContactNumber" placeholder="Location Contact Number">
                </div>
                <div class="col-md-12 mt-4 inputProperty">
                    <input type="text" class="form-control" formControlName="locationContactEmail"
                        placeholder="Location Contact Email">
                </div>
                </div>
        </form>
    </div>
</div> -->